body {
  background-color: aqua;
  background-image: url('https://images.unsplash.com/photo-1493364391862-bb90969a4cc1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f60a67c220f8bb8de58e34838c52daa9&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-size:cover;
}

.container {
  margin-top: 70px;
  margin-bottom: 10%;
}

.card {
  margin-top: 20px;
}

.red {
  background-color: rgb(243, 115, 115);
}

.center {
  float: none;
  }

.navbar-center
{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  height:100%;
}
